
:root {
    --main: #47c4a1;
    --darker: rgb(11, 133, 121);
    --light: #e0fbfc;
    --accent: #ff7070;
    --accent_dark: rgb(255, 0, 0);
    --dark: #293241; 
}

body{
    width: 100%;
    height: 100vh;
    background: var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0;
}

.container {
    width: 15vw;
    max-height: 90%;
    min-height: 30%;
    min-width: 30vh;
    background: white;
    border-radius: 5px;
    position: relative;
    box-shadow:0px 8px 24px 0 rgba(0, 0, 0, 0.2) ;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: sans-serif;
}

.color {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    color: var(--darker);
    margin-left: 5px;
}

.forg{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    color: var(--darker);
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.not {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
}

.form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 232px;
}

.line {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

a {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    color: var(--darker);
    margin-left: 5px;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover{
    color: var(--dark);
}

input{
    width: 100%;
    height: 25px;
}

.napis{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--darker);
    color: white;
    font-family: sans-serif ; 
    text-shadow:0px 8px 24px 0 rgba(0, 0, 0, 0.2) ;
}


input[type=button]{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    background:var(--darker);
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
    transition: background 0.5s;
}

input[type=button]:hover{
    background:var(--dark);
}


input{
    width: 160px;
}



.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.error{
    background: white;
    border: solid 2px var(--accent);
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
    padding-left:10px ;
    transition: border 0.5s;
    animation: shake 0.3s;
}

@keyframes shake {
    25% {transform: translateX(4px)}
    50% {transform: translateX(-4px)}
    75% {transform: translateX(4px)}
}

.ok{
    margin-top: 5px;
    background: white;
    border: solid 2px rgba(15, 120, 83, 0.5);
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    transition: border 0.5s;
    padding-left:10px ;
}

.error:hover {
    border: solid 2px var(--accent_dark)
}

.ok:hover {
    border: solid 2px var(--dark);
}

i{
    position: absolute;
    right: 20%;
    color: var(--darker);
}

.okeye{
    position: absolute;
    right: 20%;
    color: var(--darker);
}

.erroreye{
    position: absolute;
    right: 20%;
    color: var(--darker);
    animation: shake;
}

i:hover{
    color: var(--dark);
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main);
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    z-index: 100;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  