:root {
    --main: #47c4a1;
    --darker: rgb(11, 133, 121);
    --light: #e0fbfc;
    --accent: rgb(255, 112, 112);
    --dark: #293241; 
}

body{
    width: 100%;
    height: 100vh;
    background: var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    width: 20vw;
    max-height: 90%;
    background: white;
    border-radius: 5px;
    position: relative;
    box-shadow:0px 8px 24px 0 rgba(0, 0, 0, 0.2) ;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: sans-serif;
}

.color {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    color: var(--main);
    margin-left: 5px;
}

.not {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
}

.form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 232px;
}

.line {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

input{
    width: 100%;
    height: 25px;
}

.napis{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--darker);
    color: white;
    font-family: sans-serif ; 
}


input[type=button]{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    background:var(--darker);
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
    transition: background 0.5s;
}

input[type=button]:hover{
    background:var(--dark);
}


input{
    width: 160px;
}



.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.error{
    background: white;
    border: solid 2px rgb(255, 112, 112);
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.ok{
    margin-top: 10px;
    background: white;
    border: solid 2px rgba(15, 120, 83, 0.5);
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}